/* For drupal styles */
.align-left {
    float: left;
    margin: 0 15px 15px 0;
  }
  
  .align-right {
    float: right;
    margin: 0 0 15px 15px;
  }
  
  .align-center {
    display: block;
    margin: 0 auto 15px auto;
  }
  
  .caption-img {
    text-align: center;
    margin: 15px 0;
  }
  
  .caption-img img {
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .caption-img figcaption {
    font-size: 14px;
    color: #555;
  }
  